
@model IEnumerable<ClientLourd.Models.Authentification>
@{
    var graphes = ClientLourd.Models.AppContext.log.decideurCommune.commune.graphs.ToList();
    var graph = from b in graphes
                where b.dimention ==4 && b.detaille == false && b.fait == 2
                select b;

    var url = graph.First().valeur;



}
<div class="box box-solid bg-teal-gradient">
    <div class="box-header">
        <i class="fa fa-th"></i>

        <h3 class="box-title">Suivit des budgets à realiser par années</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body border-radius-none">


        <iframe width="100%" height="300" src="@url" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <a href="#" class="small-box-footer">Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
</div>